:root {
  --synk-ink-deep:#080605;
  --synk-ink:#2B2320;
  --synk-paper:#FBF7F0;
  --synk-stitch:#FBCAAB;
  --synk-stone:#C7BFB2;
  --synk-coral:#F96859;
  --synk-coral-2:#FD9C87;
  --synk-oat:#EDE7DC;
}
